.main {
    background-image: url('../images/pickle-bg.png');
    position: center;
}
.main-overview {}

.credential-input {
    background: rgb(251, 252,254);
    width: 400px;
}

.form-group{

}
h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}