.main {
    position: center;
    position: relative;
}
.main-bg{
    background-image: url('../images/pickle-bg.png');
    position: absolute;
    opacity: 30%;
    inset: 0;
    z-index: -1;
}
.main-overview {
    display: grid;
    grid-template-areas: 'header navigation' 'page-content navigation' 'footer navigation';
    min-height: 100vh;
    grid-template-rows: 100px auto 50px;
    gap: 1rem;
    grid-template-columns: auto min-content;
    padding-left: 1rem;

}

.main-overview-page {

}

.logo {
    width: 20%;
}
.header {
    grid-area: header;
}
.navigation{
    grid-area: navigation;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-content: center;
    background-color: white;
    border-color: #707070;
    box-shadow: 0 3px ;
    height: 100%;

}
.page-title {
    text-align: center;
}
.page-content{
    grid-area: page-content;
}


.btn-outline-primary {
    border-color: #4881B8;
    color: #020202;
    border-width: medium;
}

.btn-outline-primary:hover {
    background-color: #F0938D;
    color: #020202;
}
a{
    color: #020202;
}
hr{
    border-top: 1px solid #F0938D;
}

.footer-basic{
    grid-area: footer;
}