<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
<head>
    <title>Forgot Password</title>
    <link type="text/css" rel="stylesheet" th:href="@{css/Login-Form-Dark.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{css/bootstrap/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Bitter:400,700}">
    <link type="text/css" rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700}">
    <link type="text/css" rel="stylesheet" th:href="@{css/clock.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{css/main.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{css/login.css}"/>
</head>
<body>
<div class="main">
    <div class="main-bg"></div>
    <div class="main-overview-index">
        <header class="header">
            <img class="logo" th:src="@{images/logo-no-bg.png}">
        </header>
        <div th:if="${session.m3}" id="a.warn" class="container alert alert-danger my-2 text-center" role="alert">
            <span th:text="${session.m3}"></span>
        </div>
        <div th:if="${session.m4}" id="a.fail" class="container alert alert-danger my-2 text-center" role="alert">
            <span th:text="${session.m4}"></span>
        </div>
        <div th:if="${session.m5}" id="a.db.fail" class="container alert alert-danger my-2 text-center" role="alert">
            <span th:text="${session.m5}"></span>
        </div>
        <div th:if="${session.m6}" id="a.pw.success" class="container alert alert-success my-2 text-center" role="alert">
            <span th:text="${session.m6}"></span>
        </div>
        <div layout:fragment="content" class="login-window">
            <h2>Reset Password Form</h2>
            <div class="login-box login-dark">
                <form th:action="@{/sendEmail}"  method="post">
                    <div class="form-group has-feedback">
                        <input required="required" type="email" class="form-control" name="resetEmail" placeholder="Email"/>
                    </div>
                    <div class="form-group">
                        <button class="btn-primary btn-block" type="submit">Reset</button>
                    </div>
                </form>
            </div>
        </div>
        <footer class="footer-basic">Pickle_Rick Time Recorder © 2021</footer>
        </div>
    </div>
</div>
<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{js/bootstrap/bootstrap.min.js}"></script>
<script th:src="@{js/clock.js}"></script>
<script>
    $("#a.warn").fadeTo(2000, 500).slideUp(500, function(){
        $("#a.warn").slideUp(500);
    });
    $("#a.fail").fadeTo(2000, 500).slideUp(500, function(){
        $("#a.fail").slideUp(500);
    });
    $("#a.db.fail").fadeTo(2000, 500).slideUp(500, function(){
        $("#a.db.fail").slideUp(500);
    });
    $("#a.pw.success").fadeTo(2000, 500).slideUp(500, function(){
        $("#a.pw.success").slideUp(500);
    });
    
</script>
</body>
</html>




