<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
<head>
    <title>Log in</title>
    <link type="text/css" rel="stylesheet" th:href="@{css/Login-Form-Dark.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{css/bootstrap/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Bitter:400,700}">
    <link type="text/css" rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700}">
    <link type="text/css" rel="stylesheet" th:href="@{css/clock.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{css/main.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{css/login.css}"/>
</head>
<body>
<div class="main">
    <div class="main-bg"></div>
    <div class="main-overview-index">
        <header class="header">
            <img class="logo" th:src="@{images/logo-no-bg.png}">
        </header>
        <div id="clock">
            <noscript>
                &lt;p&gt;
                The page clock requires JavaScript to function, please revisit in a scripting capable browser.
                &lt;/p&gt;
            </noscript>
        </div>
        <div layout:fragment="content" class="login-window">

            <h2>Login Form</h2>
            <div class="login-box login-dark">
                <form th:action="@{/perform_login}" method="post" class="credential-input">
                    <div class="form-group has-feedback">
                        <input type="email" class="form-control login-email" name="username" placeholder="Email"/>

                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" name="password" placeholder="Password"/>
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="form-group">
                        <button class="btn-primary btn-block" type="submit">Log In</button>
                    </div>
                    <a class="forgot" href="#">Forgot Password?</a>
                </form>
            </div>
        </div>
        <footer class="footer-basic">Pickle_Rick Time Recorder © 2021</footer>
    </div>
</div>
<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{js/bootstrap/bootstrap.min.js}"></script>
<script th:src="@{js/clock.js}"></script>
</body>
</html>

<!--

        <div layout:fragment="content" class="login-window">
            <div layout:fragment="content">
                <div class="">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Login Form</div>
                        <div class="panel-body">
                            <form th:action="@{/perform_login}" method="post" class="">
                                <div class="form-group has-feedback">
                                    <input type="email" class="form-control" name="username"
                                           placeholder="Email" /> <span
                                        class="glyphicon glyphicon-envelope form-control-feedback"></span>
                                </div>
                                <div class="form-group has-feedback">
                                    <input type="password" class="form-control" name="password"
                                           placeholder="Password" /> <span
                                        class="glyphicon glyphicon-lock form-control-feedback"></span>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" name="remember-me"> Remember Me
                                    </label>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-offset-8 col-xs-4">
                                        <button type="submit" class="btn btn-primary btn-block btn-flat"
                                                th:text="#{label.login}">LogIn</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div th:if="${param.error}"
                                             class="alert alert-danger alert-dismissable">
                                            <p>
                                                <i class="icon fa fa-ban"></i> <span
                                                    th:text="#{error.login_failed}">Invalid Email and
           Password.</span>
                                            </p>
                                        </div>
                                        <div th:if="${param.logout}"
                                             class="alert alert-info alert-dismissable">
                                            <p>
                                                <i class="icon fa fa-info"></i> <span
                                                    th:text="#{info.logout_success}">You have been logged
           out.</span>
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>







    </div>
</div>
            -->





