<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Overview</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" th:href="@{css/bootstrap/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Bitter:400,700}">
    <link type="text/css" rel="stylesheet"
          th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700}">
    <link type="text/css" rel="stylesheet" th:href="@{css/main.css}"/>
</head>
<body>
<div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
    <table class="table my-0" id="daTable">
        <thead>
        <tr>
            <th>First day of month</th>
            <th>Hours worked in month</th>
            <th>Scheduled hours</th>
            <th>Difference for month</th>
            <!-- <th>Actual</th>
             <th>Over/Under time</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="work: ${monthlyWork}">
            <td th:text="${work.startDate}">First day of month</td>
            <td th:text="${work.workedTime}">Hours worked in month</td>
            <td th:text="${work.scheduledTime}">Scheduled hours</td>
            <td th:text="${work.monthlyDifference}">Difference for month</td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>